<div class="container">

<h1>All our flats (<%= @flats.count%>)</h1>

<% @flats.each do |flat| %>
  <div class="card">
    <h2> <%= flat.name %></h2>
    <p> <%= flat.address %> </p>
    <p><%= flat.number_of_guests %></p>
    <p><%= flat.price_per_night %></p>
  </div>
<% end %>

</div>
